name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Verificar Docker
        run: docker --version

      - name: Build com Docker Compose
        run: docker compose build

      - name: Validar configuração docker-compose
        run: docker compose config
        
  deploy:
      runs-on: ubuntu-latest
      needs: build
      if: github.ref == 'refs/heads/main'
      
      steps:
        - name: Deploy via SSH
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.SSHHOST }}
            username: ${{ secrets.SSH_USER }}
            password: ${{ secrets.KEY }}
            script: |
              cd ~/apps/curriculo01 || exit 1
              git pull
              docker compose down
              docker compose up -d --build
